<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>About Me - RobertaBeretta.</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <center>
        <hr>
        <a href="/">Home</a>
        <a href="web2">Web 2.0</a>
        <a href="web3">Web 3.0</a>
        <a href="about">About Me</a>
        <a href="contacts">Contact Me</a>
        <hr>
        <hr>
        RobertaBeretta. Ⓡ 2022 All Rights Reserved.
    </center>
    
</body>
</html>