<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Contact Me - RobertaBeretta.</title>
</head>
<body>
    <center>
        <hr>
        <a href="">Home</a>
        <a href="web2">Web 2.0</a>
        <a href="web3">Web 3.0</a>
        <a href="about">About Me</a>
        <a href="contacts">Contact Me</a>
        <hr>
        <table cellspacing="20">
            <tr>
                <td>📧</td>
                <td>robi13891@gmail.com</td> 
            </tr>
            <tr>
                <td>📞</td>
                <td>+39 3291155480</td>
            </tr>
        </table>               
    </center>
</body>
</html>