<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="RobertaBeretta. is a personal website aimed to...">
    <title>Homepage - RobertaBeretta.</title>
</head>
<body>
    <center>
        <hr>
        <a href="">Home</a>
        <a href="web2">Web 2.0</a>
        <a href="web3">Web 3.0</a>
        <a href="about">About Me</a>
        <a href="contacts">Contact Me</a>
        <hr>      
        <img src="img\me-cropped-faded.png" alt="This is me!" width="180" height="180">
        <h1>RobertaBeretta.</h1>
        <h2 style="display:inline"><a href="web2">web2.0()</a></h2>
        <h2 style="display:inline"><a href="web3">web3.0()</a></h2>
        <h2><a href="about">aboutMe()</a></h2>
        <h2><a href="contacts">contactMe()</a></h2>
    </center>
</body>
</html>
