<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="RobertaBeretta. is a personal website aimed to...">
    <title>Homepage - RobertaBeretta.</title>
    <link rel="stylesheet" href="css/main-website.css">
</head>
<body>
    <center>
        <header id="nav-header">
            <nav>
                <a href="/">Home</a>
                <a href="web2">Web 2.0</a>
                <a href="web3">Web 3.0</a>
                <a href="about">About Me</a>
                <a href="contacts">Contact Me</a>
            </nav>
        </header>
        <div>
            <table cellspacing="30">
                <td>
                    <img src="img\me-cropped-faded.png" alt="This is me!" width="180" height="180">
                </td>
                <td>
                    <h1>RobertaBeretta.</h1>
                    <h3>developer</h3>
                    
                </td>
            </table> 
        </div> 
        <hr>
        <div>
            <h2 style="display:inline"><a href="web2">web 2.0</a></h2>
            <h2 style="display:inline"><a href="web3">web 3.0</a></h2>
            <h2><a href="about">aboutMe()</a></h2>
            <h2><a href="contacts">contactMe()</a></h2>   
        </div>
        <hr>
        <footer>
            RobertaBeretta. Ⓡ 2022 All Rights Reserved.
        </footer>
            
    </center>
</body>
</html>
