<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home-RobertaBeretta.</title>
    <link rel="stylesheet" href="css/main-cv.css">
</head>
<body>
    <div class="top-container">
        <h1 class="RBdot"><span>RB.</span></h1>
        <span class="RobertaBerettaDot">RobertaBeretta.<br>
            <span class="math-dev">Mathematician, developer</span>
        </span>
    </div>  
    <div class="middle-left-container">
        <span>Web 2.0</span>

    </div> 
    <div class="middle-right-container">
        <span>Web 3.0</span>

    </div>  
    <div class="bottom-container">
        <span>About Me</span>
    

    </div> 
</body>
</html>