<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Web 2.0 - RobertaBeretta.</title>
</head>
<body>
    <center>
        <hr>
        <a href="">Home</a>
        <a href="web2">Web 2.0</a>
        <a href="web3">Web 3.0</a>
        <a href="about">About Me</a>
        <a href="contacts">Contact Me</a>
        <hr>
        <h1>Skills</h1>
        <table cellspacing="20">
            <tr>
                <td>HTML</td>
                <td>★★★★☆</td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>★★★☆☆</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>★★★★★</td>
            </tr>
            <tr>
                <td>Node.JS</td>
                <td>★★☆☆☆</td>
            </tr>
            <tr>
                <td>Express</td>
                <td>★★☆☆☆</td>
            </tr>
            <tr>
                <td>EJS</td>
                <td>★★☆☆☆</td>
            </tr>
        </table>
    </center>
</body>
</html>