<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web 3.0 - RobertaBeretta.</title>
</head>
<body>
    <center>
        <hr>
        <a href="">Home</a>
        <a href="web2">Web 2.0</a>
        <a href="web3">Web 3.0</a>
        <a href="about">About Me</a>
        <a href="contacts">Contact Me</a>
        <hr>
    </center>    
</body>
</html>