body{
    margin: 0;
}

.top-container{
    background-color: #FFF9B0;
    border-radius: 10px;
    height: 400px;
    left: 250px;
    position: relative;    
    top: 50px;
    width: 900px;
}

.middle-left-container{
    background-color: blue;
    border-radius: 20px;
    bottom: 100px;
    display: inline-block; 
    height: 600px; 
    margin-left: 50px;
    position: relative;
    width: 700px;
}

.middle-right-container{
    background-color: red;
    border-radius: 20px;
    bottom: 650px;
    height: 600px;
    left: 600px;
    position: relative;
    width: 700px;
}

.bottom-container{
    background-color: #FFF9B0;
    border-radius: 10px;
    bottom: 740px;
    height: 400px;
    left: 100px;
    position: relative; 
    width: 1100px;
}

.RBdot{
    display: inline;
    font-size: 80px;
    margin-right: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    top: 20px;
}

.RobertaBerettaDot{
    font-size: 50px;
    padding: 5px;
    position: relative;
    bottom: 20px;
}

.math-dev{
    bottom: 40px;
    font-size: 20px;
    left: 461px;
    position: relative;
}